<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="flash">
    <article th:if="${successMessage}" style="border-left: 4px solid var(--pico-ins-color);">
        <p th:text="${successMessage}">Success message</p>
    </article>

    <article th:if="${errorMessage}" style="border-left: 4px solid var(--pico-del-color);">
        <p th:text="${errorMessage}">Error message</p>
    </article>

    <th:block th:if="${errors}">
        <article th:each="error : ${errors}" style="border-left: 4px solid var(--pico-del-color);">
            <p th:text="${error}">Error</p>
        </article>
    </th:block>
</div>
</body>
</html>
