<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<body>
<nav th:fragment="navbar" class="container">
    <ul>
        <li><a th:href="@{/}" class="contrast"><strong>Finance</strong></a></li>
    </ul>
    <ul>
        <li><a th:href="@{/dashboard}">Dashboard</a></li>
        <li><a th:href="@{/transactions}">Transações</a></li>
        <li><a th:href="@{/accounts}">Contas</a></li>
        <li><a th:href="@{/reports}">Relatórios</a></li>
        <li><a th:href="@{/profile}" role="button" class="outline">Perfil</a></li>
    </ul>
</nav>
</body>
</html>
